<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="interface2wcsServiceBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.30.3.113:7080/default/interface2wcsService"
                binding="basicHttpBinding" bindingConfiguration="interface2wcsServiceBinding"
                contract="ServiceReference1.interface2wcsService" name="interface2wcsServicePort" />
        </client>
    </system.serviceModel>
</configuration>