<?xml version="1.0" encoding="utf-8" ?>
                                        <configuration>
	                                        <Log>
		                                        <!-- 日志路径
			                                        对于Web程序:这个路径从虚拟路径根开始
			                                        对于WinForm程序:这个路径从应用程序根开始
		                                        -->
		                                        <LogPath value="Log" />
		                                        <!-- 日志是否开启
			                                        True:开启
			                                        False(或者其他):关闭   
		                                        -->
		                                        <LogEnable value="True"/>
		                                        <!-- 扩展名格式  -->
		                                        <ExpandName value="log"/>
		                                        <!-- 日志记录级别 共有3种级别，不区分大小写
			                                        DebugMessage    调试信息
			                                        Message         信息
			                                        Exception       异常  
		                                        -->
		                                        <LogLevels value="Exception,Message,DebugMessage"/>
                                                <!-- 重复打印必要的间隔时间
                                                -->
                                                <AlternationTime value="5"/>  
	                                        </Log>
                                        </configuration>