<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/EdgebandingModel.csdl|res://*/EdgebandingModel.ssdl|res://*/EdgebandingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.30.18.231;initial catalog=NJIS.FPZWS.LineControl.Edgebanding;user id=sa;password=!Q@W#E$R5t6y7u8i;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>