<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <configSections>
    <section name="plc"
             type="NJIS.FPZWS.LineControl.PLC.Config.ConfigFile.PlcConfigSection,NJIS.FPZWS.LineControl.PLC.Config" />
  </configSections>
  <!--
  command entity mapType 0：映射到PLC(默认) ,1 不做映射（取Map值）
  command entity valueType 1:int(默认),2:float,3:bool,10:string
-->
  <plc>
    <logging>
      <entry enabled="true" level="All"></entry>
      <adapter enabled="true" name="1FCBF13F-2127-4361-B304-D708303B8D0F"
               type="NJIS.FPZWS.Log.Implement.Log4Net.Log4NetLoggerAdapter,NJIS.FPZWS.Log">
      </adapter>
    </logging>
    <connectors>
      <!--connector-plcType:[S1200,S300,S400,S1500,S200Smart]-->
      <connector name="Test" readerInterval="100" isDebug="true"
                 plcType="S1500" address="10.30.42.10" port="102" timeOut="5000" receiveTimeOut="5000"
                 type="NJIS.FPZWS.LineControl.PLC.Siemens.S7Net.SiemensTcpNetConnector,NJIS.FPZWS.LineControl.PLC.Siemens.S7Net">
        <commands>
          <!--command->propertys->valueType:变量类型[Bit,Int,Short,Real,Lint,Double,String,Binary]-->
          <!--command->propertys->IsMap:是否映射[True,False]-->
          <!--command->propertys->Map:PLC地址-->
          <!--command->propertys->Name:变量名称-->
          <!--command->propertys->Desc:变量名称-->
          <!--command->propertys->isCheck:是否写入检查-->
          <!--command->propertys->writeIndex:写入顺序，默认-1-->


          <command name="10_InPartCommand"
                   type="NJIS.FPZWS.LineControl.Drilling.Domain.Control.Commands.InPartCommand,NJIS.FPZWS.LineControl.Drilling.Domain">
            <entity>
              <input
                entity="NJIS.FPZWS.LineControl.Drilling.Domain.Control.Entitys.InPartInputEntity,NJIS.FPZWS.LineControl.Drilling.Domain">
                <propertys>
                  <property name="PartId" map="DB450.0.18" valueType="String" desc=""></property>
                  <property name="TriggerOut" map="DB450.76" valueType="Int" desc=""></property>
                  <!--<property name="Trigger" map="DB1.3100" valueType="Bit" desc=""></property>-->
                  <property name="TriggerIn" map="DB450.22" valueType="Int" isMap="True" desc=""></property>
                  <property name="Position" map="10" valueType="Int" isMap="false"></property>
                </propertys>
              </input>

              <output
                entity="NJIS.FPZWS.LineControl.Drilling.Domain.Control.Entitys.InPartOutputEntity,NJIS.FPZWS.LineControl.Drilling.Domain">
                <propertys>
                  <!--<property name="Trigger" map="DB13100.1" valueType="Bit"></property>-->
                  <property name="TriggerOut" map="DB450.76" isCheck="true" writeIndex="99"></property>
                  <property name="Res" map="DB450.26" valueType="Int" isCheck="true"></property>
                  <property name="PartId" map="DB450.28.18" valueType="String" isCheck="true"></property>
                  <property name="BatchName" map="DB450.80" valueType="String" isCheck="true"></property>

                  <!--1单面孔；2双面孔-->
                  <property name="DrillingRoute" map="DB450.52" valueType="Int" isCheck="true"></property>
                  <!--1转角；2不转角-->
                  <property name="Rotation" map="DB450.56" valueType="Int" isCheck="true"></property>
                  <property name="Length" map="DB450.60" valueType="Int" isCheck="true"></property>
                  <property name="Width" map="DB450.64" valueType="Int" isCheck="true"></property>
                  <property name="Thickness" map="DB450.68" valueType="Int" isCheck="true"></property>
                  <property name="IsNg" map="DB450.72" valueType="Int" isCheck="true"></property>
                  <!--<property name="NextPlace" map="10" valueType="Int" isMap="false"></property>-->
                </propertys>
              </output>
            </entity>
          </command>


          <command name="11_InPartCommand"
                   type="NJIS.FPZWS.LineControl.Drilling.Domain.Control.Commands.InPartCommand,NJIS.FPZWS.LineControl.Drilling.Domain">
            <entity>
              <input
                entity="NJIS.FPZWS.LineControl.Drilling.Domain.Control.Entitys.InPartInputEntity,NJIS.FPZWS.LineControl.Drilling.Domain">
                <propertys>
                  <property name="PartId" map="DB450.198.18" valueType="String" desc=""></property>
                  <property name="TriggerIn" map="DB450.222" valueType="Int" isMap="True" desc=""></property>
                  <property name="TriggerOut" map="DB450.276" valueType="Int" desc=""></property>
                  <!--<property name="Trigger" map="DB1.3100" valueType="Bit" desc=""></property>-->
                  <property name="Position" map="11" valueType="Int" isMap="false"></property>
                </propertys>
              </input>

              <output
                entity="NJIS.FPZWS.LineControl.Drilling.Domain.Control.Entitys.InPartOutputEntity,NJIS.FPZWS.LineControl.Drilling.Domain">
                <propertys>
                  <property name="Res" map="DB450.226" valueType="Int" isCheck="true"></property>
                  <property name="PartId" map="DB450.228.18" valueType="String" isCheck="true"></property>
                  <!--<property name="Trigger" map="DB13100.1" valueType="Bit"></property>-->
                  <property name="TriggerOut" map="DB450.276" isCheck="true" writeIndex="99"></property>
                  <property name="BatchName" map="DB450.280" valueType="String" isCheck="true"></property>
                  <property name="DrillingRoute" map="DB450.252" valueType="Int" isCheck="true"></property>
                  <property name="Rotation" map="DB450.256" valueType="Int" isCheck="true"></property>
                  <property name="Length" map="DB450.260" valueType="Int" isCheck="true"></property>
                  <property name="Width" map="DB450.264" valueType="Int" isCheck="true"></property>
                  <property name="Thickness" map="DB450.268" valueType="Int" isCheck="true"></property>
                  <property name="IsNg" map="DB450.272" valueType="Int" isCheck="true"></property>
                  <property name="NextPlace" map="11" valueType="Int" isMap="false" isCheck="true"></property>
                </propertys>
              </output>
            </entity>
          </command>

          <command name="20_PositionCommand"
                   type="NJIS.FPZWS.LineControl.Drilling.Domain.Control.Commands.PositionCommand,NJIS.FPZWS.LineControl.Drilling.Domain">
            <entity>
              <input
                entity="NJIS.FPZWS.LineControl.Drilling.Domain.Control.Entitys.PositionInputEntity,NJIS.FPZWS.LineControl.Drilling.Domain">
                <propertys>
                  <property name="TriggerIn" map="DB450.1022" valueType="Int"></property>
                  <property name="TriggerOut" map="DB450.1026" valueType="Int"></property>
                  <property name="Position" map="20" valueType="Int" isMap="false"></property>
                  <property name="ProcName" map="PcsTriggerPosition20" valueType="String" isMap="False" desc=""></property>
                  <property name="Data" map="DB450.998.18" valueType="String" desc=""></property>
                </propertys>
              </input>

              <output
                entity="NJIS.FPZWS.LineControl.Drilling.Domain.Control.Entitys.PositionOutputEntity,NJIS.FPZWS.LineControl.Drilling.Domain">
                <propertys>
                  <property name="TriggerOut" map="DB450.1026" isCheck="true" writeIndex="99"></property>
                  <property name="Data" map="DB450.1028.18" valueType="String" isCheck="true"></property>
                  <property name="Res" map="DB450.1052" valueType="Int" isCheck="true"></property>
                  <property name="NextPlace" map="DB450.1056" valueType="Int" isCheck="true"></property>
                </propertys>
              </output>
            </entity>
          </command>


          <command name="21_PositionCommand"
                   type="NJIS.FPZWS.LineControl.Drilling.Domain.Control.Commands.PositionCommand,NJIS.FPZWS.LineControl.Drilling.Domain">
            <entity>
              <input
                entity="NJIS.FPZWS.LineControl.Drilling.Domain.Control.Entitys.PositionInputEntity,NJIS.FPZWS.LineControl.Drilling.Domain">
                <propertys>
                  <property name="TriggerIn" map="DB450.1122" valueType="Int"></property>
                  <property name="TriggerOut" map="DB450.1126" valueType="Int"></property>
                  <property name="Position" map="21" valueType="Int" isMap="false"></property>
                  <property name="ProcName" map="PcsTriggerPosition21" valueType="String" isMap="False" desc=""></property>
                  <property name="Data" map="DB450.1098.18" valueType="String" desc=""></property>
                </propertys>
              </input>

              <output
                entity="NJIS.FPZWS.LineControl.Drilling.Domain.Control.Entitys.PositionOutputEntity,NJIS.FPZWS.LineControl.Drilling.Domain">
                <propertys>
                  <property name="TriggerOut" map="DB450.1126" isCheck="true" writeIndex="99"></property>
                  <property name="Data" map="DB450.1128.18" valueType="String" isCheck="true"></property>
                  <property name="Res" map="DB450.1152" valueType="Int" isCheck="true"></property>
                  <property name="NextPlace" map="DB450.1156" valueType="Int" isCheck="true"></property>
                </propertys>
              </output>
            </entity>
          </command>

          <command name="22_PositionCommand"
                   type="NJIS.FPZWS.LineControl.Drilling.Domain.Control.Commands.PositionCommand,NJIS.FPZWS.LineControl.Drilling.Domain">
            <entity>
              <input
                entity="NJIS.FPZWS.LineControl.Drilling.Domain.Control.Entitys.PositionInputEntity,NJIS.FPZWS.LineControl.Drilling.Domain">
                <propertys>
                  <property name="TriggerIn" map="DB450.1222" valueType="Int"></property>
                  <property name="TriggerOut" map="DB450.1226" valueType="Int"></property>
                  <property name="Position" map="22" valueType="Int" isMap="false"></property>
                  <property name="ProcName" map="PcsTriggerPosition22" valueType="String" isMap="False" desc=""></property>
                  <property name="Data" map="DB450.1198.18" valueType="String" desc=""></property>
                </propertys>
              </input>

              <output
                entity="NJIS.FPZWS.LineControl.Drilling.Domain.Control.Entitys.PositionOutputEntity,NJIS.FPZWS.LineControl.Drilling.Domain">
                <propertys>
                  <property name="TriggerOut" map="DB450.1226" isCheck="true" writeIndex="99"></property>
                  <property name="Data" map="DB450.1228.18" valueType="String" isCheck="true"></property>
                  <property name="Res" map="DB450.1252" valueType="Int" isCheck="true"></property>
                  <property name="NextPlace" map="DB450.1256" valueType="Int" isCheck="true"></property>
                </propertys>
              </output>
            </entity>
          </command>

          <command name="23_PositionCommand"
                   type="NJIS.FPZWS.LineControl.Drilling.Domain.Control.Commands.PositionCommand,NJIS.FPZWS.LineControl.Drilling.Domain">
            <entity>
              <input
                entity="NJIS.FPZWS.LineControl.Drilling.Domain.Control.Entitys.PositionInputEntity,NJIS.FPZWS.LineControl.Drilling.Domain">
                <propertys>
                  <property name="TriggerIn" map="DB450.1322" valueType="Int"></property>
                  <property name="TriggerOut" map="DB450.1326" valueType="Int"></property>
                  <property name="Position" map="23" valueType="Int" isMap="false"></property>
                  <property name="ProcName" map="PcsTriggerPosition23" valueType="String" isMap="False" desc=""></property>
                  <property name="Data" map="DB450.1298.18" valueType="String" desc=""></property>
                </propertys>
              </input>

              <output
                entity="NJIS.FPZWS.LineControl.Drilling.Domain.Control.Entitys.PositionOutputEntity,NJIS.FPZWS.LineControl.Drilling.Domain">
                <propertys>
                  <property name="TriggerOut" map="DB450.1326" isCheck="true" writeIndex="99"></property>
                  <property name="Data" map="DB450.1328.18" valueType="String" isCheck="true"></property>
                  <property name="Res" map="DB450.1352" valueType="Int" isCheck="true"></property>
                  <property name="NextPlace" map="DB450.1356" valueType="Int" isCheck="true"></property>
                </propertys>
              </output>
            </entity>
          </command>

          <command name="24_PositionCommand"
                   type="NJIS.FPZWS.LineControl.Drilling.Domain.Control.Commands.PositionCommand,NJIS.FPZWS.LineControl.Drilling.Domain">
            <entity>
              <input
                entity="NJIS.FPZWS.LineControl.Drilling.Domain.Control.Entitys.PositionInputEntity,NJIS.FPZWS.LineControl.Drilling.Domain">
                <propertys>
                  <property name="TriggerIn" map="DB450.1422" valueType="Int"></property>
                  <property name="TriggerOut" map="DB450.1426" valueType="Int"></property>
                  <property name="Position" map="24" valueType="Int" isMap="false"></property>
                  <property name="ProcName" map="PcsTriggerPosition24" valueType="String" isMap="False" desc=""></property>
                  <property name="Data" map="DB450.1398.18" valueType="String" desc=""></property>
                </propertys>
              </input>

              <output
                entity="NJIS.FPZWS.LineControl.Drilling.Domain.Control.Entitys.PositionOutputEntity,NJIS.FPZWS.LineControl.Drilling.Domain">
                <propertys>
                  <property name="TriggerOut" map="DB450.1426" isCheck="true" writeIndex="99"></property>
                  <property name="Data" map="DB450.1428.18" valueType="String" isCheck="true"></property>
                  <property name="Res" map="DB450.1452" valueType="Int" isCheck="true"></property>
                  <property name="NextPlace" map="DB450.1456" valueType="Int" isCheck="true"></property>
                </propertys>
              </output>
            </entity>
          </command>

          <command name="25_PositionCommand"
                   type="NJIS.FPZWS.LineControl.Drilling.Domain.Control.Commands.PositionCommand,NJIS.FPZWS.LineControl.Drilling.Domain">
            <entity>
              <input
                entity="NJIS.FPZWS.LineControl.Drilling.Domain.Control.Entitys.PositionInputEntity,NJIS.FPZWS.LineControl.Drilling.Domain">
                <propertys>
                  <property name="TriggerIn" map="DB450.1522" valueType="Int"></property>
                  <property name="TriggerOut" map="DB450.1526" valueType="Int"></property>
                  <property name="Position" map="25" valueType="Int" isMap="false"></property>
                  <property name="ProcName" map="PcsTriggerPosition25" valueType="String" isMap="False" desc=""></property>
                  <property name="Data" map="DB450.1498.18" valueType="String" desc=""></property>
                </propertys>
              </input>

              <output
                entity="NJIS.FPZWS.LineControl.Drilling.Domain.Control.Entitys.PositionOutputEntity,NJIS.FPZWS.LineControl.Drilling.Domain">
                <propertys>
                  <property name="TriggerOut" map="DB450.1526" isCheck="true" writeIndex="99"></property>
                  <property name="Data" map="DB450.1528.18" valueType="String" isCheck="true"></property>
                  <property name="Res" map="DB450.1552" valueType="Int" isCheck="true"></property>
                  <property name="NextPlace" map="DB450.1556" valueType="Int" isCheck="true"></property>
                </propertys>
              </output>
            </entity>
          </command>

          <command name="26_PositionCommand"
                   type="NJIS.FPZWS.LineControl.Drilling.Domain.Control.Commands.PositionCommand,NJIS.FPZWS.LineControl.Drilling.Domain">
            <entity>
              <input
                entity="NJIS.FPZWS.LineControl.Drilling.Domain.Control.Entitys.PositionInputEntity,NJIS.FPZWS.LineControl.Drilling.Domain">
                <propertys>
                  <property name="TriggerIn" map="DB450.1622" valueType="Int"></property>
                  <property name="TriggerOut" map="DB450.1626" valueType="Int"></property>
                  <property name="Position" map="26" valueType="Int" isMap="false"></property>
                  <property name="ProcName" map="PcsTriggerPosition26" valueType="String" isMap="False" desc=""></property>
                  <property name="Data" map="DB450.1598.18" valueType="String" desc=""></property>
                </propertys>
              </input>

              <output
                entity="NJIS.FPZWS.LineControl.Drilling.Domain.Control.Entitys.PositionOutputEntity,NJIS.FPZWS.LineControl.Drilling.Domain">
                <propertys>
                  <property name="TriggerOut" map="DB450.1626" isCheck="true" writeIndex="99"></property>
                  <property name="Data" map="DB450.1628.18" valueType="String" isCheck="true"></property>
                  <property name="Res" map="DB450.1652" valueType="Int" isCheck="true"></property>
                  <property name="NextPlace" map="DB450.1656" valueType="Int" isCheck="true"></property>
                </propertys>
              </output>
            </entity>
          </command>

          <command name="30_PositionCommand"
                   type="NJIS.FPZWS.LineControl.Drilling.Domain.Control.Commands.PositionCommand,NJIS.FPZWS.LineControl.Drilling.Domain">
            <entity>
              <input
                entity="NJIS.FPZWS.LineControl.Drilling.Domain.Control.Entitys.PositionInputEntity,NJIS.FPZWS.LineControl.Drilling.Domain">
                <propertys>
                  <property name="TriggerIn" map="DB450.1822" valueType="Int"></property>
                  <property name="TriggerOut" map="DB450.1826" valueType="Int"></property>
                  <property name="Position" map="30" valueType="Int" isMap="false"></property>
                  <property name="ProcName" map="PcsTriggerPosition30" valueType="String" isMap="False" desc=""></property>
                  <property name="Data" map="DB450.1798.18" valueType="String" desc=""></property>
                </propertys>
              </input>

              <output
                entity="NJIS.FPZWS.LineControl.Drilling.Domain.Control.Entitys.PositionOutputEntity,NJIS.FPZWS.LineControl.Drilling.Domain">
                <propertys>
                  <property name="TriggerOut" map="DB450.1826" isCheck="true" writeIndex="99"></property>
                  <property name="Data" map="DB450.1828.18" valueType="String" isCheck="true"></property>
                  <property name="Res" map="DB450.1852" valueType="Int" isCheck="true"></property>
                  <property name="NextPlace" map="DB450.1856" valueType="Int" isCheck="true"></property>
                </propertys>
              </output>
            </entity>
          </command>


          <command name="31_PositionCommand"
                   type="NJIS.FPZWS.LineControl.Drilling.Domain.Control.Commands.PositionCommand,NJIS.FPZWS.LineControl.Drilling.Domain">
            <entity>
              <input
                entity="NJIS.FPZWS.LineControl.Drilling.Domain.Control.Entitys.PositionInputEntity,NJIS.FPZWS.LineControl.Drilling.Domain">
                <propertys>
                  <property name="TriggerIn" map="DB450.1922" valueType="Int"></property>
                  <property name="TriggerOut" map="DB450.1926" valueType="Int"></property>
                  <property name="Position" map="31" valueType="Int" isMap="false"></property>
                  <property name="ProcName" map="PcsTriggerPosition31" valueType="String" isMap="False" desc=""></property>
                  <property name="Data" map="DB450.1898.18" valueType="String" desc=""></property>
                </propertys>
              </input>

              <output
                entity="NJIS.FPZWS.LineControl.Drilling.Domain.Control.Entitys.PositionOutputEntity,NJIS.FPZWS.LineControl.Drilling.Domain">
                <propertys>
                  <property name="TriggerOut" map="DB450.1926" isCheck="true" writeIndex="99"></property>
                  <property name="Data" map="DB450.1928.18" valueType="String" isCheck="true"></property>
                  <property name="Res" map="DB450.1952" valueType="Int" isCheck="true"></property>
                  <property name="NextPlace" map="DB450.1956" valueType="Int" isCheck="true"></property>
                </propertys>
              </output>
            </entity>
          </command>

          <command name="100_PositionCommand"
                   type="NJIS.FPZWS.LineControl.Drilling.Domain.Control.Commands.PositionCommand,NJIS.FPZWS.LineControl.Drilling.Domain">
            <entity>
              <input
                entity="NJIS.FPZWS.LineControl.Drilling.Domain.Control.Entitys.PositionInputEntity,NJIS.FPZWS.LineControl.Drilling.Domain">
                <propertys>
                  <property name="Data" map="DB450.1998.18" valueType="String" desc=""></property>
                  <property name="TriggerIn" map="DB450.2022" valueType="Int"></property>
                  <property name="TriggerOut" map="DB450.2026" valueType="Int"></property>
                  <property name="Position" map="100" valueType="Int" isMap="false"></property>
                  <property name="ProcName" map="PcsTriggerPosition100" valueType="String" isMap="False" desc=""></property>
                </propertys>
              </input>

              <output
                entity="NJIS.FPZWS.LineControl.Drilling.Domain.Control.Entitys.PositionOutputEntity,NJIS.FPZWS.LineControl.Drilling.Domain">
                <propertys>
                  <property name="TriggerOut" map="DB450.2026" isCheck="true" writeIndex="99"></property>
                  <property name="Data" map="DB450.2028.18" valueType="String" isCheck="true"></property>
                  <property name="Res" map="DB450.2052" valueType="Int" isCheck="true"></property>
                </propertys>
              </output>
            </entity>
          </command>

          <command name="101_PositionCommand"
                   type="NJIS.FPZWS.LineControl.Drilling.Domain.Control.Commands.PositionCommand,NJIS.FPZWS.LineControl.Drilling.Domain">
            <entity>
              <input
                entity="NJIS.FPZWS.LineControl.Drilling.Domain.Control.Entitys.PositionInputEntity,NJIS.FPZWS.LineControl.Drilling.Domain">
                <propertys>
                  <property name="Data" map="DB450.2098.18" valueType="String" desc=""></property>
                  <property name="TriggerIn" map="DB450.2122" valueType="Int"></property>
                  <property name="TriggerOut" map="DB450.2126" valueType="Int"></property>
                  <property name="Position" map="101" valueType="Int" isMap="false"></property>
                  <property name="ProcName" map="PcsTriggerPosition101" valueType="String" isMap="False" desc=""></property>
                </propertys>
              </input>

              <output
                entity="NJIS.FPZWS.LineControl.Drilling.Domain.Control.Entitys.PositionOutputEntity,NJIS.FPZWS.LineControl.Drilling.Domain">
                <propertys>
                  <property name="TriggerOut" map="DB450.2126" isCheck="true" writeIndex="99"></property>
                  <property name="Data" map="DB450.2128.18" valueType="String" isCheck="true"></property>
                  <property name="Res" map="DB450.2152" valueType="Int" isCheck="true"></property>
                </propertys>
              </output>
            </entity>
          </command>

          <command name="102_PositionCommand"
                   type="NJIS.FPZWS.LineControl.Drilling.Domain.Control.Commands.PositionCommand,NJIS.FPZWS.LineControl.Drilling.Domain">
            <entity>
              <input
                entity="NJIS.FPZWS.LineControl.Drilling.Domain.Control.Entitys.PositionInputEntity,NJIS.FPZWS.LineControl.Drilling.Domain">
                <propertys>
                  <property name="Data" map="DB450.2198.18" valueType="String" desc=""></property>
                  <property name="TriggerIn" map="DB450.2222" valueType="Int"></property>
                  <property name="TriggerOut" map="DB450.2226" valueType="Int"></property>
                  <property name="Position" map="102" valueType="Int" isMap="false"></property>
                  <property name="ProcName" map="PcsTriggerPosition102" valueType="String" isMap="False" desc=""></property>
                </propertys>
              </input>

              <output
                entity="NJIS.FPZWS.LineControl.Drilling.Domain.Control.Entitys.PositionOutputEntity,NJIS.FPZWS.LineControl.Drilling.Domain">
                <propertys>
                  <property name="TriggerOut" map="DB450.2226" isCheck="true" writeIndex="99"></property>
                  <property name="Data" map="DB450.2228.18" valueType="String" isCheck="true"></property>
                  <property name="Res" map="DB450.2252" valueType="Int" isCheck="true"></property>
                </propertys>
              </output>
            </entity>
          </command>

          <command name="103_PositionCommand"
                   type="NJIS.FPZWS.LineControl.Drilling.Domain.Control.Commands.PositionCommand,NJIS.FPZWS.LineControl.Drilling.Domain">
            <entity>
              <input
                entity="NJIS.FPZWS.LineControl.Drilling.Domain.Control.Entitys.PositionInputEntity,NJIS.FPZWS.LineControl.Drilling.Domain">
                <propertys>
                  <property name="Data" map="DB450.2298.18" valueType="String" desc=""></property>
                  <property name="TriggerIn" map="DB450.2322" valueType="Int"></property>
                  <property name="TriggerOut" map="DB450.2326" valueType="Int"></property>
                  <property name="Position" map="103" valueType="Int" isMap="false"></property>
                  <property name="ProcName" map="PcsTriggerPosition103" valueType="String" isMap="False" desc=""></property>
                </propertys>
              </input>

              <output
                entity="NJIS.FPZWS.LineControl.Drilling.Domain.Control.Entitys.PositionOutputEntity,NJIS.FPZWS.LineControl.Drilling.Domain">
                <propertys>
                  <property name="TriggerOut" map="DB450.2326" isCheck="true" writeIndex="99"></property>
                  <property name="Data" map="DB450.2328.18" valueType="String" isCheck="true"></property>
                  <property name="Res" map="DB450.2352" valueType="Int" isCheck="true"></property>
                </propertys>
              </output>
            </entity>
          </command>
          <command name="104_PositionCommand"
                   type="NJIS.FPZWS.LineControl.Drilling.Domain.Control.Commands.PositionCommand,NJIS.FPZWS.LineControl.Drilling.Domain">
            <entity>
              <input
                entity="NJIS.FPZWS.LineControl.Drilling.Domain.Control.Entitys.PositionInputEntity,NJIS.FPZWS.LineControl.Drilling.Domain">
                <propertys>
                  <property name="Data" map="DB450.2398.18" valueType="String" desc=""></property>
                  <property name="TriggerIn" map="DB450.2422" valueType="Int"></property>
                  <property name="TriggerOut" map="DB450.2426" valueType="Int"></property>
                  <property name="Position" map="104" valueType="Int" isMap="false"></property>
                  <property name="ProcName" map="PcsTriggerPosition104" valueType="String" isMap="False" desc=""></property>
                </propertys>
              </input>

              <output
                entity="NJIS.FPZWS.LineControl.Drilling.Domain.Control.Entitys.PositionOutputEntity,NJIS.FPZWS.LineControl.Drilling.Domain">
                <propertys>
                  <property name="TriggerOut" map="DB450.2426" isCheck="true" writeIndex="99"></property>
                  <property name="Data" map="DB450.2428.18" valueType="String" isCheck="true"></property>
                  <property name="Res" map="DB450.2452" valueType="Int" isCheck="true"></property>
                </propertys>
              </output>
            </entity>
          </command>
          <command name="105_PositionCommand"
                   type="NJIS.FPZWS.LineControl.Drilling.Domain.Control.Commands.PositionCommand,NJIS.FPZWS.LineControl.Drilling.Domain">
            <entity>
              <input
                entity="NJIS.FPZWS.LineControl.Drilling.Domain.Control.Entitys.PositionInputEntity,NJIS.FPZWS.LineControl.Drilling.Domain">
                <propertys>
                  <property name="Data" map="DB450.2498.18" valueType="String" desc=""></property>
                  <property name="TriggerIn" map="DB450.2522" valueType="Int"></property>
                  <property name="TriggerOut" map="DB450.2526" valueType="Int"></property>
                  <property name="Position" map="105" valueType="Int" isMap="false"></property>
                  <property name="ProcName" map="PcsTriggerPosition105" valueType="String" isMap="False" desc=""></property>
                </propertys>
              </input>

              <output
                entity="NJIS.FPZWS.LineControl.Drilling.Domain.Control.Entitys.PositionOutputEntity,NJIS.FPZWS.LineControl.Drilling.Domain">
                <propertys>
                  <property name="TriggerOut" map="DB450.2526" isCheck="true" writeIndex="99"></property>
                  <property name="Data" map="DB450.2528.18" valueType="String" isCheck="true"></property>
                  <property name="Res" map="DB450.2552" valueType="Int" isCheck="true"></property>
                </propertys>
              </output>
            </entity>
          </command>

          <command name="106_PositionCommand"
                   type="NJIS.FPZWS.LineControl.Drilling.Domain.Control.Commands.PositionCommand,NJIS.FPZWS.LineControl.Drilling.Domain">
            <entity>
              <input
                entity="NJIS.FPZWS.LineControl.Drilling.Domain.Control.Entitys.PositionInputEntity,NJIS.FPZWS.LineControl.Drilling.Domain">
                <propertys>
                  <property name="Data" map="DB450.2598.18" valueType="String" desc=""></property>
                  <property name="TriggerIn" map="DB450.2622" valueType="Int"></property>
                  <property name="TriggerOut" map="DB450.2626" valueType="Int"></property>
                  <property name="Position" map="106" valueType="Int" isMap="false"></property>
                  <property name="ProcName" map="PcsTriggerPosition106" valueType="String" isMap="False" desc=""></property>
                </propertys>
              </input>

              <output
                entity="NJIS.FPZWS.LineControl.Drilling.Domain.Control.Entitys.PositionOutputEntity,NJIS.FPZWS.LineControl.Drilling.Domain">
                <propertys>
                  <property name="TriggerOut" map="DB450.2626" isCheck="true" writeIndex="99"></property>
                  <property name="Data" map="DB450.2628.18" valueType="String" isCheck="true"></property>
                  <property name="Res" map="DB450.2652" valueType="Int" isCheck="true"></property>
                </propertys>
              </output>
            </entity>
          </command>
          <command name="107_PositionCommand"
                   type="NJIS.FPZWS.LineControl.Drilling.Domain.Control.Commands.PositionCommand,NJIS.FPZWS.LineControl.Drilling.Domain">
            <entity>
              <input
                entity="NJIS.FPZWS.LineControl.Drilling.Domain.Control.Entitys.PositionInputEntity,NJIS.FPZWS.LineControl.Drilling.Domain">
                <propertys>
                  <property name="Data" map="DB450.2698.18" valueType="String" desc=""></property>
                  <property name="TriggerIn" map="DB450.2722" valueType="Int"></property>
                  <property name="TriggerOut" map="DB450.2726" valueType="Int"></property>
                  <property name="Position" map="107" valueType="Int" isMap="false"></property>
                  <property name="ProcName" map="PcsTriggerPosition107" valueType="String" isMap="False" desc=""></property>
                </propertys>
              </input>

              <output
                entity="NJIS.FPZWS.LineControl.Drilling.Domain.Control.Entitys.PositionOutputEntity,NJIS.FPZWS.LineControl.Drilling.Domain">
                <propertys>
                  <property name="TriggerOut" map="DB450.2726" isCheck="true" writeIndex="99"></property>
                  <property name="Data" map="DB450.2728.18" valueType="String" isCheck="true"></property>
                  <property name="Res" map="DB450.2752" valueType="Int" isCheck="true"></property>
                </propertys>
              </output>
            </entity>
          </command>

          <command name="200_NG"
                   type="NJIS.FPZWS.LineControl.Drilling.Domain.Control.Commands.PositionCommand,NJIS.FPZWS.LineControl.Drilling.Domain">
            <entity>
              <input
                entity="NJIS.FPZWS.LineControl.Drilling.Domain.Control.Entitys.PositionInputEntity,NJIS.FPZWS.LineControl.Drilling.Domain">
                <propertys>
                  <property name="TriggerIn" map="DB450.3022" valueType="Int"></property>
                  <property name="TriggerOut" map="DB450.3026" valueType="Int"></property>
                  <property name="Data" map="NG" valueType="String" desc="" isMap="false"></property>
                  <property name="Position" map="200" valueType="Int" isMap="false"></property>
                  <property name="ProcName" map="PcsTriggerPosition200" valueType="String" isMap="False" desc=""></property>
                </propertys>
              </input>

              <output
                entity="NJIS.FPZWS.LineControl.Drilling.Domain.Control.Entitys.PositionOutputEntity,NJIS.FPZWS.LineControl.Drilling.Domain">
                <propertys>
                  <property name="TriggerOut" map="DB450.3026" isCheck="true" writeIndex="99"></property>
                  <property name="Data" map="DB450.2998.18" valueType="String" desc="" isCheck="true"></property>
                  <property name="Res" map="DB450.3030" valueType="Int" isCheck="true"></property>
                </propertys>
              </output>
            </entity>
          </command>


        </commands>
      </connector>

      <!--connector-plcType:[S1200,S300,S400,S1500,S200Smart]-->
      <connector name="LB" readerInterval="1000" isDebug="true"
                 plcType="S1500" address="10.30.42.10" port="102" timeOut="5000" receiveTimeOut="5000"
                 type="NJIS.FPZWS.LineControl.PLC.Siemens.S7Net.SiemensTcpNetConnector,NJIS.FPZWS.LineControl.PLC.Siemens.S7Net">
        <commands>
          <!--command->propertys->valueType:变量类型[Bit,Int,Short,Real,Lint,Double,String,Binary]-->
          <!--command->propertys->IsMap:是否映射[True,False]-->
          <!--command->propertys->Map:PLC地址-->
          <!--command->propertys->Name:变量名称-->
          <!--command->propertys->Desc:变量名称-->

          <command name="HM-01"
                   type="NJIS.FPZWS.LineControl.Drilling.Domain.Control.Commands.ChainBufferCommand,NJIS.FPZWS.LineControl.Drilling.Domain">
            <entity>
              <input
                entity="NJIS.FPZWS.LineControl.Drilling.Domain.Control.Entitys.PositionInputEntity,NJIS.FPZWS.LineControl.Drilling.Domain">
                <propertys>
                  <property name="Trigger" map="True"  isMap="false" valueType="Bit"></property>
                  <property name="Code" map="HM-01" valueType="String" isMap="false" ></property>
                  <property name="Buffer" map="DB500.1508" valueType="Binary" desc="" length="660"></property>
                </propertys>
              </input>

            </entity>
          </command>

          <command name="HM-02"
                   type="NJIS.FPZWS.LineControl.Drilling.Domain.Control.Commands.ChainBufferCommand,NJIS.FPZWS.LineControl.Drilling.Domain">
            <entity>
              <input
                entity="NJIS.FPZWS.LineControl.Drilling.Domain.Control.Entitys.PositionInputEntity,NJIS.FPZWS.LineControl.Drilling.Domain">
                <propertys>
                  <property name="Trigger" map="True"  isMap="false" valueType="Bit"></property>
                  <property name="Code" map="HM-02" valueType="String" isMap="false" ></property>
                  <property name="Buffer" map="DB500.2190" valueType="Binary" desc="" length="660"></property>
                </propertys>
              </input>

            </entity>
          </command>

          <command name="JD-01"
                   type="NJIS.FPZWS.LineControl.Drilling.Domain.Control.Commands.ChainBufferCommand,NJIS.FPZWS.LineControl.Drilling.Domain">
            <entity>
              <input
                entity="NJIS.FPZWS.LineControl.Drilling.Domain.Control.Entitys.PositionInputEntity,NJIS.FPZWS.LineControl.Drilling.Domain">
                <propertys>
                  <property name="Trigger" map="True"  isMap="false" valueType="Bit"></property>
                  <property name="Code" map="JD-01" valueType="String" isMap="false" ></property>
                  <property name="Buffer" map="DB500.2872" valueType="Binary" desc="" length="660"></property>
                </propertys>
              </input>

            </entity>
          </command>

          <command name="HM-03"
                   type="NJIS.FPZWS.LineControl.Drilling.Domain.Control.Commands.ChainBufferCommand,NJIS.FPZWS.LineControl.Drilling.Domain">
            <entity>
              <input
                entity="NJIS.FPZWS.LineControl.Drilling.Domain.Control.Entitys.PositionInputEntity,NJIS.FPZWS.LineControl.Drilling.Domain">
                <propertys>
                  <property name="Trigger" map="True"  isMap="false" valueType="Bit"></property>
                  <property name="Code" map="HM-03" valueType="String" isMap="false" ></property>
                  <property name="Buffer" map="DB500.3554" valueType="Binary" desc="" length="660"></property>
                </propertys>
              </input>

            </entity>
          </command>

          <command name="HM-04"
                   type="NJIS.FPZWS.LineControl.Drilling.Domain.Control.Commands.ChainBufferCommand,NJIS.FPZWS.LineControl.Drilling.Domain">
            <entity>
              <input
                entity="NJIS.FPZWS.LineControl.Drilling.Domain.Control.Entitys.PositionInputEntity,NJIS.FPZWS.LineControl.Drilling.Domain">
                <propertys>
                  <property name="Trigger" map="True"  isMap="false" valueType="Bit"></property>
                  <property name="Code" map="HM-04" valueType="String" isMap="false" ></property>
                  <property name="Buffer" map="DB500.4236" valueType="Binary" desc="" length="660"></property>
                </propertys>
              </input>

            </entity>
          </command>

          <command name="JD-02"
                   type="NJIS.FPZWS.LineControl.Drilling.Domain.Control.Commands.ChainBufferCommand,NJIS.FPZWS.LineControl.Drilling.Domain">
            <entity>
              <input
                entity="NJIS.FPZWS.LineControl.Drilling.Domain.Control.Entitys.PositionInputEntity,NJIS.FPZWS.LineControl.Drilling.Domain">
                <propertys>
                  <property name="Trigger" map="True"  isMap="false" valueType="Bit"></property>
                  <property name="Code" map="JD-02" valueType="String" isMap="false" ></property>
                  <property name="Buffer" map="DB500.4918" valueType="Binary" desc="" length="660"></property>
                </propertys>
              </input>

            </entity>
          </command>
        </commands>
      </connector>
    </connectors>
  </plc>
</configuration>