<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <configSections>
    <section name="plc"
             type="NJIS.FPZWS.LineControl.PLC.Config.ConfigFile.PlcConfigSection,NJIS.FPZWS.LineControl.PLC.Config" />
  </configSections>
  <!--
  command entity mapType 0：映射到PLC(默认) ,1 不做映射（取Map值）
  command entity valueType 1:int(默认),2:float,3:bool,10:string
-->
  <plc>
    <logging>
      <entry enabled="true" level="All"></entry>
      <adapter enabled="true" name="1FCBF13F-2127-4361-B304-D708303B8D0F"
               type="NJIS.FPZWS.Log.Implement.Log4Net.Log4NetLoggerAdapter,NJIS.FPZWS.Log">
      </adapter>
    </logging>
    <connectors>
      <!--connector-plcType:[S1200,S300,S400,S1500,S200Smart]-->
      <connector name="Test" readerInterval="100" isDebug="true"
                 plcType="S1500" address="10.30.18.235" port="102" timeOut="5000" receiveTimeOut="5000"
                 type="NJIS.FPZWS.LineControl.PLC.Siemens.S7Net.SiemensTcpNetConnector,NJIS.FPZWS.LineControl.PLC.Siemens.S7Net">
        <commands>
          <!--command->propertys->valueType:变量类型[Bit,Int,Short,Real,Lint,Double,String]-->
          <!--command->propertys->IsMap:是否映射[True,False]-->
          <!--command->propertys->Map:PLC地址-->
          <!--command->propertys->Name:变量名称-->
          <!--command->propertys->Desc:变量名称-->
          <command name="InPartCommand"
                   type="NJIS.FPZWS.LineControl.Drilling.Domain.Control.Commands.InPartCommand,NJIS.FPZWS.LineControl.Drilling.Domain">
            <entity>
              <input
                entity="NJIS.FPZWS.LineControl.Drilling.Domain.Control.Entitys.InPartInputEntity,NJIS.FPZWS.LineControl.Drilling.Domain">
                <propertys>
                  <property name="TriggerIn" map="DB1.2668" valueType="Int" isMap="True" desc=""></property>
                  <property name="TriggerOut" map="DB1.2676" valueType="Int" desc=""></property>
                  <!--<property name="Trigger" map="DB1.3100" valueType="Bit" desc=""></property>-->
                  <property name="PartId" map="DB1.0" valueType="String" desc=""></property>
                </propertys>
              </input>

              <output
                entity="NJIS.FPZWS.LineControl.Drilling.Domain.Control.Entitys.InPartOutputEntity,NJIS.FPZWS.LineControl.Drilling.Domain">
                <propertys>
                  <property name="Trigger" map="DB13100.1" valueType="Bit"></property>
                  <property name="TriggerOut" map="DB1.2676"></property>
                  <property name="PartId" map="DB1.256" valueType="String"></property>
                  <property name="BatchName" map="DB1.512" valueType="String"></property>
                  <property name="IsNg" map="DB1.2700" valueType="Int"></property>
                  <property name="Width" map="DB1.2708" valueType="Int"></property>
                  <property name="Length" map="DB1.2716" valueType="Int"></property>
                  <property name="DrillingRoute" map="DB1.2724" valueType="Int"></property>
                  <property name="Res" map="DB1.2732" valueType="Int"></property>
                </propertys>
              </output>
            </entity>
          </command>

        </commands>
      </connector>
    </connectors>
  </plc>
</configuration>