
<#@ template language="C#" debug="false" hostspecific="true"#>
<#@ include file="EF6.Utility.CS.ttinclude"#>
<#@ output extension=".cs"#>
<#
const string inputFile = @"DrillingModel.edmx";
#>

<#@ include file="..\..\doc\DbFirst.ttinclude"  #>