<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ServiceUrl" value="http://10.10.14.52:8090/NjisService.svc" />
    <!--产线-->
    <add key="ProductionLine" value="1" />
    <!--1分钟更新开料NG状态-->
    <add key="NgBits" value="5000" />
    <!--获取NG时间-->
    <add key="NgTimes" value="240" />
    <!--获取条码补打时间差-->
    <add key="MakeTimes" value="240" />
    <!--获取不合格板件时间-->
    <add key="ProduceNgTimes" value="240" />
  </appSettings>
  <connectionStrings>

    <add name="InfosEntities" connectionString="Database=Ningji.BoardSorting.MES.NEW;Server=10.10.26.42;UID=sa;Password=sa123456;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>

    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="protobuf-net" publicKeyToken="257b51d87d2e4d67" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.668" newVersion="2.0.0.668" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
